<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Scriptorian App</title>
  </head>
  <body class="bg-secondary">
    <div class="container text-center p-5">
      <div class="bg-light rounded text-left">
	<h1 class="text-center">Welcome to Scriptorian!</h1>
	<h4 class="text-center">"They had searched the scriptures diligently, that they might know the word of God." (<a href="https://www.churchofjesuschrist.org/study/scriptures/bofm/alma/17.2?lang=eng">Alma 17:2</a>)</h4>
	<div class="p-5">
	  <h2>What is Scriptorian?</h2>
	  <p>
	    Scriptorian is an API for retrieving citation text from the <a href="https://scriptures.churchofjesuschrist.org">standard works</a> of the <a href="https://churchofjesuschrist.org">Church of Jesus Christ of Latter-Day Saints</a>. These canonical scriptures include:

	    <ul class="list-group">
	      <li class="list-group-item">The Old Testament (King James Version)</li>
	      <li class="list-group-item">The New Testament (King James Version)</li>
	      <li class="list-group-item">The Book of Mormon</li>
	      <li class="list-group-item">The Doctrine and Covenants</li>
	      <li class="list-group-item">The Pearl of Great Price</li>
	    </ul>
	  </p>
	  <h2>How can I use it?</h2>
	  <p>
	    If you are already using an application that supports integration with Scriptorian, the most common invocation in a chat application would probably be either "/cite &lt;ref&gt;" or "/scriptorian &lt;ref&gt;", where &lt;ref&gt; is a scripture reference such as "1 Nephi 1:1". Examples of valid reference formats:

	    <ul>
	      <li>1 Nephi 1:1</li>
	      <li>Genesis 1:1-5</li>
	      <li>1 Corinthians 12:3-4,7-9,10</li>
	    </ul>

	    If you would like to add this API to a Slack, Mattermost, or other application instance, please <a href="mailto:{{maintainer}}">contact the maintainer of this instance</a>.
	  </p>

	  <h2>Acknowledgements and Copyright</h2>
	  <ul>
	    <li>The database used as a backend for this application is provided by the <a href="https://scriptures.nephi.org/">LDS Documentation Project</a>.</li>
	    <li>The text of the scriptures used in the application is in the public domain in the United States (this is why there are no chapter headings, cross-references, or footnotes).</li>
	    <li>Bootstrap is <a href="https://github.com/twbs/bootstrap">available</a> under the MIT license.</li>
	    <li>The source code for Scriptorian is available on <a href="https://gitlab.com/cwpitts/scriptorian">GitLab</a>, under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.</li>
	</div>
      </div>
    </div>
  </body>
</html>
